@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes arrowAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(10px); 
    }
  }
  
  .animate-arrow {
    animation: arrowAnimation 0.5s alternate infinite;
  }
  