@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS class to your stylesheet */
@keyframes arrowAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(10px); /* Adjust the animation distance as needed */
    }
  }
  
  .animate-arrow {
    animation: arrowAnimation 0.5s alternate infinite;
  }
  